$color-lightest: white;
$color-light-100: rgb(242, 242, 242);

$color-grey-100: rgb(221, 221, 221);
$color-grey-200: rgb(183, 183, 183);
$color-grey-300: rgb(157, 157, 157);
$color-grey-400: rgb(74, 76, 82);

$color-contrast-100: rgb(0, 118, 180);
